{% extends "templates/base.html" %}
{% block title %}Ajouter Instance{% endblock %}

{% block content %}
<h1>Ajouter une Instance de semestre</h1>
	{% if res %}
		<p>Création de l'instance du semestre réussie.</p>
		<a href="/"><button>Retour à l'accueil <i class="fa fa-reply" aria-hidden="true"></i></button></a>
	{% else %}
		<form enctype="multipart/form-data" action="{% url "ajouter_instance_semestre" %}" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Valider <i class="fa fa-check" aria-hidden="true"></i></button>
		</form>
	{% endif %}
{% endblock %}
