{% extends "templates/base.html" %}
{% block title %}Modifier les informations d'une matière{% endblock %}


<!-- DJANGO SELECT -->
<!-- V1 Faire afficher tous les étus dispo -->
<!-- V2 Faire afficher les étus n'ayant pas toutes les infos de renseignées -->
{% block content %}
	<h1>Modifier les informations d'une matière</h1>

	{% if not res %} 
			{% if not res2 %}
			<form enctype="multipart/form-data" action="{% url "modifierMatiere" %}" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Valider <i class="fa fa-check" aria-hidden="true"></i></button>
			</form>
			{% else %}
				<p>Modification de la matière réussie.</p>
			{% endif %}
		{% else %}
			<p>Vous avez sélectionné la matiere : {{ m.intitule }}</p>
			<form enctype="multipart/form-data" action="{% url "modifierMatiere" %}" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Valider <i class="fa fa-check" aria-hidden="true"></i></button>
			</form>
	{% endif %}
{% endblock %}