{% extends "templates/base.html" %}
{% block title %}Compléter les informations d'un étudiant{% endblock %}


<!-- DJANGO SELECT -->
<!-- V1 Faire afficher tous les étus dispo -->
<!-- V2 Faire afficher les étus n'ayant pas toutes les infos de renseignées -->
{% block content %}
	<h1>Compléter les informations d'un étudiant</h1>

	{% if not res %} 
			{% if not res2 %}
			<form enctype="multipart/form-data" action="{% url "complement_etu" %}" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Valider <i class="fa fa-check" aria-hidden="true"></i></button>
			</form>
			{% else %}
				<p>Modification de l'étudiant réussie.</p>
			{% endif %}
		{% else %}
			<p>Vous avez sélectionné l'étudiant(e) : {{ e.nom }} {{ e.prenom }}</p>
			<form enctype="multipart/form-data" action="{% url "complement_etu" %}" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Valider <i class="fa fa-check" aria-hidden="true"></i></button>
			</form>
	{% endif %}
{% endblock %}