{% extends "templates/base.html" %}
{% block title %}Importatiton des notes{% endblock %}
{% block content %}
	<h1>Importer des notes via un fichier</h1>
	{% if FILE %}
		<p>Fichier selectionné</p>
	{% endif %}

	{% if res %}
		<p>Importation des notes réussie.</p>
		<p><a href="/Note/importer_csv"><button>Importer un nouveau fichier <i class="fa fa-retweet" aria-hidden="true"></i></button></a></p>
		<p><a href="/"><button>Retour à l'accueil <i class="fa fa-reply" aria-hidden="true"></i></button></a></p>
	{% else %}
		<form enctype="multipart/form-data" action="{% url "importer_csv" %}" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Valider <i class="fa fa-reply" aria-hidden="true"></i></button></a></p>
		</form>
	{% endif %}
{% endblock %}